* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);
  --font-roboto: 'Roboto', sans-serif;
  --hue: 194;
  --bg-color: hsl(var(--hue), 6%, 7%);
  --text-color: hsl(var(--hue), 40%, 98%);
  --bg-active: hsl(var(--hue), 100%, 63%);
  --bg-button: hsl(var(--hue), 0%, 14%);
  --button-secondary: hsl(var(--hue), 40%, 98%);
}

html.light {
  --text-color: hsl(var(--hue), 6%, 7%);
  --bg-color: hsl(var(--hue), 40%, 98%);
  --bg-button: hsl(var(--hue), 0%, 14%);
}

html.light .ph-sun, html:not(.light) .ph-moon {
  display: none;
}

#toggle-theme {
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  font-size: 3.2rem;
  line-height: 0;
  color: var(--text-color);
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  appearance: none;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-roboto);
  font-size: 1.6rem;
  position: relative;
}

.app {
  margin-top: -12rem;
  display: grid;
  justify-items: center;
  gap: 1.6rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer {
  font-size: 9.6rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

#controls {
  padding: 2.2rem 4rem;
  background: var(--bg-button);
  border-radius: 999rem;
  gap: 1.6rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  font-size: 6.4rem;
  color: var(--bg-active);
  transition: transform .1s ease;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.secondary {
  color: var(--button-secondary);
}
 
.running .ph-play-circle, .running .ph-timer, .music-on .ph-speaker-none, html:not(.running) .ph-pause-circle, html:not(.running) .ph-stop-circle, html:not(.music-on) .ph-speaker-high {
  display: none;
}