* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 -moz-osx-smoothing: grayscale;
}

:root {
 font-size: 62.5%;

 --font-mulish: 'Mulish', sans-serif;
 --font-roboto: 'Roboto', sans-serif;
 --font-roboto-condensed: 'Roboto Condensed', sans-serif;

 --hue: ;
 --color-base-white: hsl(0, 0%, 100%);
 --color-base-gray-100: hsl(0, 0%, 96%);
 --color-base-gray-300:hsl(var(--hue), 60%, 58%);
 --color-base-gray-500: hsl(0, 0%, 24%);
 --color-base-gray-900:hsl(var(--hue), 60%, 13%);

 --text-color-footer: #323238;
}

body {
 font-size: 1.6rem;
 background: var(--color-base-white);
 font-family: var(--font-mulish);
 color: var(--color-base-gray-900);
}

#app {
 display: grid;
 grid-template-rows: max-content 1fr max-content; /*dessa forma o header e o footer ficam travados, e deixamos o main mais flexível*/
 height: 100vh;
}

.container {
 padding: 1.6rem 3.2rem;
 width: min(112rem, 100%);
 margin: 0 auto;
}

main {
 background: var(--color-base-gray-100);
 overflow-y: scroll;
}

header, nav, nav ul {
 display: flex;
 align-items: center;
 gap: 7.2rem;
 font-weight: 700;
}

header form {
 flex: 1;
}

nav ul {
 list-style: none;
 font-size: 1.8rem;
 color: var(--color-base-gray-300);
}

ul li.active {
 color: var(--color-base-gray-900);
}

.form-wrapper label {
 width: 1px;
 height: 1px;
 overflow: hidden;
 position: absolute;
}

.form-wrapper input {
 width: 100%;
 padding: 1.6rem;
 border: 0;
 border-radius: 0.6rem;
 background: var(--color-base-gray-100);
 font-size: 1.6rem;
 font-weight: 600;
}

.form-wrapper input::placeholder {
 color: var(--color-base-gray-500);
 opacity: 0.56;
}

.avatar {
 width: 4.2rem;
 height: 4.2rem;
 object-fit: cover;
 border-radius: 50%;
}

/*Galeria*/
main h1 {
 font-size: 2.4rem;
 padding-top: 1.6rem;
}

.gallery {
 margin-top: 3.2rem;

 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 2.2rem;
}

.item {
 background: var(--color-base-white);
 border-radius: .8rem;
 overflow: hidden;
}

.item img {
 width: 100%;
 aspect-ratio: 16/9;
 object-fit: cover;

 transition-property: transform;
 transition-duration: 300ms;
 transition-delay: 0;
 transition-timing-function: ease-in-out;

 display: block;
}

.item img:hover {
 filter: hue-rotate(7deg) contrast(101%) saturate(200%);
 transform: scale(1.1);
}

.details {
 padding: 2.2rem;
 background: var(--color-base-white);
 z-index: 1;
 position: relative;
}

.details h2 {
 font-size: 1.8rem;
 font-weight: 700;
 line-height: 160%;
 color: var(--color-base-gray-900);
}

.tags {
 width: fit-content;
}

.tags span {
 padding: .6rem;
 background: var(--color-base-gray-100);
 border-radius: .4rem;
 font-size: 1.2rem;
 font-weight: 400;
 line-height: 160%;
 text-transform: uppercase;
}

footer {
 text-align: center;
}

footer p {
 color: var(--text-color-footer);
 font-size: 1.6rem;
 font-weight: 600;
 line-height: normal;
 padding: 1.6rem;
}

header {
 --startY: -100%;
 animation: move .2s;
}
footer {
 --startY: 100%;
 animation: move .2s;
}
@keyframes move {
 from {
  transform: translateY(var(--startY));
 }
}

.item {
 --delay: .2s;
 animation: appear .4s var(--delay) backwards;
}
@keyframes appear {
 0% {
  opacity: 0;
  transform: scale(0.7);
 }

 50% {
  scale: 1.2;
 }
}